.locationImage {
    float: left;
    margin: 10px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
}

.locationImage > div {
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    color: white;
}

.locationImage span {
    background: #00000088;
    display: block;
    text-align: center;
}

.locationImage span.prompt {
    display: none;
    font-weight: bold;
    background: none;
}

.locationImage:hover {
    background: darkgray;
}

.locationImage:hover > div {
    opacity: 0.8;
}

.locationImage:hover span {
    display: block;
    margin: 0;
}