.bed-overlay {
  touch-action: none;
}

.bed {
  fill: url(#bedGradient);
  cursor: move;
}

.group-outline {
  stroke: white;
  stroke-opacity: 0.5;
  stroke-width: 0.1;
  stroke-dasharray: 0.2;
  fill: rgba($color: #000000, $alpha: 0.1);
  cursor: move;
}
