.App {
  text-align: center;
}

/* Colors:  #4c3d8b, #50537f, #546571, #5a7660, #618649 */

.tabs {
  background-color: #50537f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 3px;
  border-bottom: 3px solid #5a7660;
}

.tabs ul li {
  display: inline-block;
  padding: 0;
  vertical-align: bottom;
}

.tabs ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.tabs ul li a.active {
  background: #5a7660;
  border-bottom: 3px solid white;
  position: relative;
  bottom: -3px;
  margin-top: -3px;
}

.content-wrapper {
  padding: 10px;
}